<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="src/estilos.css">
	<title>Catequesis Divino Maestro</title>
</head>
<body>
	<div id="app">
		<div class="tabs-personalized">
			<p active="active" tabsitem="renderDatos"> Niño/Confirmante </p>
			<p active="" tabsitem="renderFichas"> Padre </p>
			<p active="" tabsitem="renderFamiliares"> Madre </p>
			<p active="" tabsitem="renderSede"> Apoderado </p>
		</div>
		<div>
			<div class="row">
				<form class="col s12">
				  <div class="row">
					<div class="input-field col s6">
					  <input placeholder="Placeholder" id="first_name" type="text" class="validate">
					  <label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
					  <input id="last_name" type="text" class="validate">
					  <label for="last_name">Last Name</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
					  <input disabled value="I am not editable" id="disabled" type="text" class="validate">
					  <label for="disabled">Disabled</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
					  <input id="password" type="password" class="validate">
					  <label for="password">Password</label>
					</div>
				  </div>
				  <div class="row">
					<div class="input-field col s12">
					  <input id="email" type="email" class="validate">
					  <label for="email">Email</label>
					</div>
				  </div>
				  <div class="row">
					<div class="col s12">
					  This is an inline input field:
					  <div class="input-field inline">
						<input id="email_inline" type="email" class="validate">
						<label for="email_inline">Email</label>
						<span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
					  </div>
					</div>
				  </div>
				</form>
			  </div>
		</div>
	</div>
	<script src="script.js"  type="application/json"></script>
</body>
</html>